/*
STYLE SHEET FOR ABOUT PAGE
*/
/* 
    Created on : Jun 21, 2016, 8:46:22 PM
    Author     : rachelle
*/


/* GENERAL STYLES */

* {
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', Verdana, serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

h1 {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 5rem;
    color: #DC143C;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

strong {
    color:#FF7F50;
}

p {
    text-height: 3.5px;
}

.container {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #FF7F50;
}

a:visited {
    color: #A9A9A9;
}

a:hover {
    color: #DC143C;
}

a:active {
    color: #fff;
}


/* MAIN HEADER STYLES */

.main-nav {
    background-color: #E0FFFF;
    margin: -20px;
    height: 75px;
    padding: 15px 0 2px 0;
    border-bottom: 1px solid #00CED1;

}

.main-nav ul li {
    list-style: none;
    display: inline-block;
    float: right;
}

.main-nav ul li:first-child {
    float: left;
}

.main-nav ul li a {
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 25px;
    background-color: #00CED1;
    border-radius: 5px;
    border: 1px solid #00008B;
}

.main-nav ul li a:link {
    color: #191970;
}

.main-nav ul li a:visited {
    color: #90EE90;
}

.main-nav ul li a:hover {
    color: #FF00FF;
}

.main-nav ul li a:active {
    color:#8B0000;
}

.main-nav a.selected:link, a.selected:visited {
    background-color: darkblue;
    color: #fff;
}

/* MAIN CONTENT STYLES */

.main-content {
    background-color: #FAF0E6;
    margin: 20px -15px;
    padding: 1px 50px;
}

.about-content {
    margin: auto;
}

.about-content h1,
.about-content h2 {
    text-align: center;
}

#main-pic {
    width:20%;
    border-radius: 10px;
}

.first-para,
.second-para,
.third-para,
#main-pic {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    vertical-align: text-top;
}

.first-para,
.second-para,
.third-para {
    width: 25%;

}

.first-para h3,
.second-para h3,
.third-para h3 {
    text-align: center;
}

/* INFORMATION STYLES */

.location,
.contact-details,
.times {
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
    margin: 0 25px;
    padding: 0 5px;
    text-align: center;
}


.contact-details ul {
    padding-left: 5px;
}

.contact-details ul li {
    list-style: none;
    display: inline;
}

.icon {
    margin-right: 5px;
}

/* FOOTER STYLES */

footer {
    height: 150px;
    background-color: #778899;
    margin: -20px -15px -70px;
    text-align: center;
    padding: 25px 0;
}