/*
STYLESHEET FOR MENU PAGE
*/
/*
    Created on : Oct 20, 2016
    Author     : rachelle
*/

/* GENERAL STYLES */

* {
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', Verdana, serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

h1 {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 5rem;
    color: #DC143C;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: #DC143C;
}

.container {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #FF7F50;
}

a:visited {
    color: #A9A9A9;
}

a:hover {
    color: #DC143C;
}

a:active {
    color: #fff;
}


/* MAIN HEADER STYLES */

.main-nav {
    background-color: #E0FFFF;
    margin: -20px;
    height: 75px;
    padding: 15px 0 2px 0;
    border-bottom: 1px solid #00CED1;

}

.main-nav ul li {
    list-style: none;
    display: inline-block;
    float: right;
}

.main-nav ul li:first-child {
    float: left;
}

.main-nav ul li a {
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 25px;
    background-color: #00CED1;
    border-radius: 5px;
    border: 1px solid #00008B;
}

.main-nav ul li a:link {
    color: #191970;
}

.main-nav ul li a:visited {
    color: #90EE90;
}

.main-nav ul li a:hover {
    color: #FF00FF;
}

.main-nav ul li a:active {
    color:#8B0000;
}

.main-nav a.selected:link, a.selected:visited {
    background-color: darkblue;
    color: #fff;
}

/* MAIN CONTENT STYLES */

.main-content {
    background-color: #FAF0E6;
    margin: 20px -15px -40px;
    padding: 1px 15px;
}

.intro {
  text-align: center;
}

p {
  margin-bottom: 45px;
}

#schedule-btn {
    padding: 15px 20px;
    border: 1px solid black;
    background: linear-gradient(to left, #DC143C, #FFB6C1);
    box-shadow: 0 0 2px 2px #000;
    border-radius: 5px;
    margin: 5px 0;
}

.table-container {
  border: 1px solid black;
  margin: 10px 20px 20px;
  padding: 15px;
}

#schedule-btn:link {
    color: #fff;
}

#schedule-btn:hover {
    color: #FF00FF;
}

#schedule-btn:active {
    color: #8B0000;
}

tfoot tr td {
  font-size: 15px;
}

.l-th {
  font-size: 22px;
}

.sm-th {
  font-size: 16px;
}



/* SPECIFIC TABLES */

#sides,
#bread {
  width: 45%;
  display: inline-block;
  vertical-align: text-top;
  padding: 40px 0;
}

#hot-drinks,
#cold-drinks {
  width: 45%;
  display: inline-block;
  vertical-align: text-top;
  padding: 40px 0;
}


#cold-drinks {
  margin-left: 100px;
}

#hot-drinks {
  margin-left: 50px;
}

#bread {
  margin-left: 30px;
}

#sides {
  margin-right: 30px;
}

#salads,
#appetizers,
#sandwiches,
#desserts {
  padding: 40px 0;
  margin: auto;
  width: 80%;
}



/* FOOTER STYLES */

footer {
    height: 100px;
    background-color: #778899;
    margin: 40px -15px -15px;
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid darkgray;
}



/* SPECIFIC STYLES */

.food-name {
  text-decoration: underline;
}

.veg {
  color: green;
  font-weight: bold;
  font-size: 22px;
}
